body
{
	background: rgb(237, 133, 162);
}

	.login_div1 , .login_div2
	{
		background: rgb(245, 245, 245);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(229, 136, 136);
border-radius: 10px;
border-top: 10px solid #e489a6;
padding: 10px;
float: none;
text-align: left;
}
